// ---------- VARIABLES ----------

$break-point-mobile: 800px;
$break-point-tablet: 1140px;

$color-bg-grey: #F6F6F6;
$color-primary: #FF6060;

$font-primary: 'Montserrat', sans-serif;

$padding-page: 20px;
$margin-container: 20px;
$max-width: 1240px;

// ---------- MIXINS ----------

@mixin flex-cc{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-cb{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

@mixin flex-sb{
    display: flex;
    justify-content: space-between;
    align-items: center;
}