.hero{
    @include flex-cc;
    position: relative;
    max-width: $max-width;
    height: 223px;
    margin: 40px auto;

    &::before{
        content: "";
        position: absolute;
        filter: brightness(75%);
        height: 223px;
        width: 100%;
        border-radius: 25px;
        background: url(../../assets/img/background_home.jpg) center/cover;
    }
    h1{
        position: relative;
    }
}

.rentings{
    @include flex-cc;
    margin: auto;
    max-width: $max-width;
    flex-wrap: wrap;
    padding: 20px;
    background: #F7F7F7;
    border-radius: 25px;

}

figure{
    margin: 0;
}

.card{
    position: relative;
    flex: 0 2 33%;

    img{
        width: 340px;
        height: 340px;
        // position: absolute;
        // top: 0;
        // left: 50%;
        // transform: translateX(-50%);
        object-fit: cover;
        border-radius: 15px;
    }
    figcaption{
        position: absolute;
        top: 0;
        // left: 50%;
        // transform: translateX(-50%);
        width: 340px;
        height: 340px;
        border-radius: 15px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    }
    h3{
        position: absolute;
        bottom: 0px;
        margin: 10px;
        color: white;
    }
}

